<!DOCTYPE hmtl>
<html>
    <head>
        <title>Loop Lap</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <link rel="stylesheet" href="scss/home.css">
        <script src="https://use.fontawesome.com/8b6e96a56d.js"></script>
        
    </head>
    <body id="home">
      
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        <div class="container">
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <a href="#" class="navbar-brand">LoopLAB</a>
            
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="#home" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="#explore-head-section" class="nav-link">Explore</a>
                    </li>
                    <li class="nav-item">
                        <a href="#create-head-section" class="nav-link">Create</a>
                    </li>
                    <li class="nav-item">
                        <a href="#share-head-section" class="nav-link">Share</a>
                    </li>
                </ul>
            </div>
            
        </div>
    </nav>   
        
<!--HOME SECTION-->
<header id="home-section">
    <div class="dark-overlay">
        <div class="home-inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 d-none d-lg-block">
                        <h1 class="display-4">Build <strong>social profiles</strong> and gain revenue and <strong>profits</strong></h1>
                        <div class="d-flex flex-row">
                            <div class="p-4 align-self-start">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="p-4 align-self-end">
                                <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                            </div>
                        </div>
                        
                        <div class="d-flex flex-row">
                            <div class="p-4 align-self-start">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="p-4 align-self-end">
                                <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                            </div>
                        </div>
                        
                        <div class="d-flex flex-row">
                            <div class="p-4 align-self-start">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="p-4 align-self-end">
                                <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card bg-primary text-center card-form">
                            <div class="card-body">
                                <h3>Sign Up Today</h3>
                                <p>Please fill out this form to register</p>
                                <form>
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-lg" placeholder="Username"></input>
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control form-control-lg" placeholder="Email"></input>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-lg" placeholder="Password"></input>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-lg" placeholder="Confirm Password"></input>
                                    </div>
                                    <button class="btn btn-outline-light btn-block">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
        
<!--EXPLORE HEAD-->
<section id="explore-head-section">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="py-5">
                    <h1 class="display-4">Explore</h1>
                    <p class="lead">Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
                    <a class="btn btn-outline-secondary">Find out more</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--EXPLORE SECTION-->
<section class="bg-light text-muted py-5" id="explore-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="https://images.pexels.com/photos/248528/pexels-photo-248528.jpeg?w=940&h=650&dpr=2&auto=compress&cs=tinysrgb" class="img-fluid mb-3 rounded-circle">
            </div>
            <div class="col-md-6">
                <h3>Explore & Connect</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem error expedita rem amet qui veritatis! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore quidem nesciunt dicta, reprehenderit iusto earum enim doloremque in esse fugiat asperiores, soluta doloribus aliquid molestias?</p>
                <div class="d-flex flex-row">
                    <div class="p-4 align-self-start">
                        <i class="fa fa-check"></i>
                    </div>
                    <div class="p-4 align-self-end">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, qui laborum nostrum illum labore distinctio aliquam!
                    </div>
                </div>
                
                <div class="d-flex flex-row">
                    <div class="p-4 align-self-start">
                        <i class="fa fa-check"></i>
                    </div>
                    <div class="p-4 align-self-end">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, qui laborum nostrum illum labore distinctio aliquam!
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>

<!--CREATE HEAD-->
<section id="create-head-section" class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="py-5">
                    <h1 class="display-4">Create</h1>
                    <p class="lead">Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
                    <a class="btn btn-outline-light">Find out more</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--CREATE SECTION-->
<section class=" py-5" id="create-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>Create your passion</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem error expedita rem amet qui veritatis! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore quidem nesciunt dicta, reprehenderit iusto earum enim doloremque in esse fugiat asperiores, soluta doloribus aliquid molestias?</p>
                <div class="d-flex flex-row">
                    <div class="p-4 align-self-start">
                        <i class="fa fa-check"></i>
                    </div>
                    <div class="p-4 align-self-end">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, qui laborum nostrum illum labore distinctio aliquam!
                    </div>
                </div>
                
                <div class="d-flex flex-row">
                    <div class="p-4 align-self-start">
                        <i class="fa fa-check"></i>
                    </div>
                    <div class="p-4 align-self-end">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, qui laborum nostrum illum labore distinctio aliquam!
                    </div>
                </div>
                
            </div>
            
            <div class="col-md-6">
                <img src="https://images.pexels.com/photos/273274/pexels-photo-273274.jpeg?w=940&h=650&dpr=2&auto=compress&cs=tinysrgb" class="img-fluid mb-3 rounded-circle">
            </div>
        </div>
    </div>
</section>


<!--SHARE HEAD-->
<section id="share-head-section" class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="py-5">
                    <h1 class="display-4">Share</h1>
                    <p class="lead">Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
                    <a class="btn btn-outline-light">Find out more</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--SHARE SECTION-->
<section class=" py-5 bg-light text-muted" id="share-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="https://res.cloudinary.com/twenty20/private_images/t_watermark-criss-cross-10/v1449707930000/photosp/8e926778-a734-4db9-a5a3-367bc8fb24e6/stock-photo-eating-friends-sharing-laughing-vscocam-vsco-8e926778-a734-4db9-a5a3-367bc8fb24e6.jpg" class="img-fluid mb-3 rounded-circle">
            </div>
            
            <div class="col-md-6">
                <h3>Share what you create</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem error expedita rem amet qui veritatis! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore quidem nesciunt dicta, reprehenderit iusto earum enim doloremque in esse fugiat asperiores, soluta doloribus aliquid molestias?</p>
                <div class="d-flex flex-row">
                    <div class="p-4 align-self-start">
                        <i class="fa fa-check"></i>
                    </div>
                    <div class="p-4 align-self-end">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, qui laborum nostrum illum labore distinctio aliquam!
                    </div>
                </div>
                
                <div class="d-flex flex-row">
                    <div class="p-4 align-self-start">
                        <i class="fa fa-check"></i>
                    </div>
                    <div class="p-4 align-self-end">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, qui laborum nostrum illum labore distinctio aliquam!
                    </div>
                </div>
                
            </div>
            
        </div>
    </div>
</section>
        
        
<!--MAIN FOOTER-->
<footer id="main-footer" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="py-4">
                    <h1 class="h3">LoopLAB</h1>
                    <p>Copyright &copy; 2017</p>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#contactModal">Contact Us</button>
                </div>
            </div>
        </div>
    </div>
</footer>

<!--CONTACT MODAL-->
<div class="modal fade text-dark" id="contactModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="contactModalTitle">Contact Us</h5>
                <button class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="name">Email</label>
                        <input type="email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="name">Message</label>
                        <textarea class="form-control"></textarea>
                    </div>
                    
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary btn-block">Submit</button>
            </div>
        </div>
    </div>
</div>

        
        
        
        
        
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>    
    </body>
</html>